@media only screen and (min-width: 992px) {
    .header-nav {
        padding-right: 60px;
        padding-left: 60px;
    }
}

.header-logo {
    .brand-logo {
        line-height: 76px;
        img {
            width: 120px;
            height: 36px;
        }
    }
}
